body {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
	background-color: white;
	margin: 10px;
}
.menu {
	margin: 0px;
}
.title {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
	background-color: white;
}
.transtitle {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
	background-color: transparent;
}
.text {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
	background-color: white;
}
.alert {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	color: red;
	font-weight: bolder;
	background-color: white;
}
.transtext {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
	background-color: transparent;
}
.theader {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: black;
	background-color: #E5E5E5;
}
.small {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
}
.button {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
	background-color: #E5E5E5;
}
a {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
}
a:active {
    font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
}
a:visited {
        font-family: Tahoma, Arial, Verdana, sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: black;
}
a:hover {
        font-family: Tahoma, Arial, Verdana, sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #E5E5E5;
		background-color: black;
}
.input {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: black;
	background-color: white;
}
