/* ---------------------------------------------------------------------
   themes/original/netscape.css
   -------------------------------------------------------------------*/

body {
	font-weight: normal;
	font-size: 13px;
	margin: 15px;
	color: black;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-color: white;
}
table.homebalkback {
	background-color: #999933;
	color: #000000;
}
.navbaroff {
	background-color: #cccc99;
	font-weight: bold;
	color: #000000;
}
.navbaron {
	color: #000000;
	background-color: #999933;
	font-size: 15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.middenhcel {
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	color: #000000;
	padding-top: 2px;
	background-color: #F7FFD3;
}	
a.ttd, a.ttd:hover {
	font-weight: bold;
	width: 100%;
	color: #000000;
	background-color: #cccc99;
	line-height: 20px;
	text-decoration: none;
	font-size: 15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.ttd:hover {
	color: #dddddd;
	background-color: #aaaaaa;
}
a.ttd2, a.ttd2:hover {
	font-weight: bold;
	width: 100%;
	color: #000000;
	background-color: #cccc99;
	line-height: 20px;
	text-decoration: none;
	font-size: 15px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.ttd2:hover {
	color: #000000;
	background-color: #ffffff;
}
a:link, a:visited, a:active {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: #000000;
	text-decoration: underline;
	background-color: #cccc99;
}
.noborder {
	border: none;
}
table {
	background-color: white;
	color: #cccc99;
}
.tableHeader {
	background: white;
	color: #cccc99;
}
.regularBoldText {
	font-weight: bold;
	font-size: 13px;
	color: #333333;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.regularText {
	font-weight: normal;
	font-size: 13px;
	color: black;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.searchText,  .searchLogic  {
	color: #000000;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.searchText {
	font-size: 15px;
	font-weight: bold;
}
.searchLogic {
	font-weight: normal;
	font-size: 13px;
}
.fortune {
	font-weight: normal;
	font-size: 11px;
	color: gray;
}
.textBox {
	font-weight: normal;
	font-size: 13px;
	color: black;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-color: #99cc33;
}
.subCategory, .subCategoryCount {
	font-weight: normal;
	font-size: 13px;
	color: gray;
	background-color: white;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.maincats {
	color: gray;
	background-color: white;
}
.mainCategory, .mainCategoryCount {
	font-size: 15px;
	color: gray;
	background-color: white;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.mainCategory {
	font-weight: bold;
	color: gray;
	background-color: white;
}
 .mainCategoryCount {
	font-weight: normal;
}
.whatText {
	font-weight: bold;
	font-size: 15px;
	color: #333333;
	background-color: #99cc33;
	padding-left: 2mm;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.WhatTabOut {
	background-color: #999933;
	color: #cccc99;
	padding: 1px;
}
.whatout2 {
	color: #cccc99;
	background-color: #000000;	
	padding: 3px;
}
.whattabletitle {
}
.navText {
	padding-right: 2px;
	padding-left: 2mm;
	padding-bottom: 2px;
	padding-top: 2px;
	font-weight: normal;
	font-size: 15px;
	color: #333333;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-color: #99cc33;
}
.NavTabOut {
	color: #cccc99;
	background-color: #999933;
}
.navtabout2 {
	color: #cccc99;
	background-color: #000000;
}
.navtabletitle {
	color: #cccc99;
	background-color: #000000;
}
a.navLink:link, a.navLink:visited, a.navLink:hover {
	font-weight: normal;
	font-size: 15px;
	color: #333333;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.navLink:hover {
	background-color: #999933;
	text-decoration: none;
}
.LineCatOut {
	color: #cccc99;
	background-color: #999933;
}
.linecattitle {
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	color: #000000;
	padding-top: 2px;
	background-color: #F7FFD3;
}
.lineCategoryText, .lineCategoryLink {
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.lineCategoryText {
	padding-left: 2mm;
	background-color: #f5f5f5;
}
a.lineCategoryLink:link, a.lineCategoryLink:visited, a.lineCategoryLink:active {
	color: #666666;
	background-color: transparent;
	text-decoration: none;
}
a.lineCategoryLink:hover {
	color: #000000;
	background-color: #dddddd;
	text-decoration: none;
}
.BgTable1 {
	color: #cccc99;
	background-color: #cccc99;
	padding-top: 2mm;
	padding-bottom: 2mm;
	padding-left: 2mm;
	padding-right: 2mm;
}
.BgTable2 {
	color: #cccc99;
	background-color: #cccc99;
	padding-top : 2mm;
 	padding-bottom : 2mm;
	padding-left: 2mm;
	padding-right: 2mm;
}
.siteName {
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.siteName:link, a.siteName:active, a.siteName:visited {
	font-weight: bold;
	font-size: 15px;
	color: #666666;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
a.siteName:hover {
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	background-color: #999933;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.siteURL {
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.siteDescription {
	font-weight: normal;
	font-size: 14px;
	color: #000000;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.ownerLink, a.ownerLink:hover {
	font-weight: normal;
	font-size: 14px;
	color: #666666;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.ownerLink:hover {
	background-color: #999933;
	text-decoration: none;
} 
.reviewLink, a.reviewLink:link, a.reviewLink:hover, .reviewCount {
	font-weight: normal;
	font-size: 14px;
	color: gray;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.reviewLink:link {
	text-decoration : none;
}
a.reviewLink:hover {
	background-color: #999933;
}
.siteDescripxion {
	font-weight: normal;
	font-size: 14px;
	color: #666666;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.addedText, .updateText {
	font-weight: normal;
	font-size: 14px;
	color: #333333;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.categoryText, .categoryLink, a.categoryLink:link, a.categoryLink:hover  {
	font-weight: normal;
	font-size: 14px;
	color: #333333;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.categoryLink:link  {
	text-decoration: none;
}
a.categoryLink:hover {
	background-color: #999933;
	text-decoration: none;
}
.hitsInText, .hitsOutText {
	font-weight: normal;
	font-size: 14px;
	color: #666666;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.navBotOut {
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.navBot {
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.searchEngines {
	font-weight: normal;
	font-size: 14px;
	color: black;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.searchEngineText {
	font-weight: normal;
	font-size: 14px;
	color: black;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.footerBot {
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #999933;
}
.footerText, .footerLink {
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
a.footerLink:link , a.footerLink:visited , a.footerLink:active {
	font-weight: normal;
	font-size: 13px;
	color: #000000;
	background-color: #cccc99;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.errorText {
	font-weight: normal;
	font-size: 14px;
	color: red;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.errorTextBold {
	font-weight: bold;
	font-size: 15px;
	color: red;
	background-color: transparent;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
